@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Noto+Sans+Mono:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Mono', monospace;
    font-size: 18px;
}